<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <File name="logFile" fileName="target/mobileAutomation.log" append="true">
            <PatternLayout pattern="%d{ISO8601}{GMT} %p %m%n"/>
        </File>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}{GMT} %p %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="logFile"/>
            <appender-ref ref="stdout"/>
        </root>
    </loggers>
</configuration>